<footer class="footer-dark bg-dark">
  <div class="container-fluid custom-footer">
    <p>Accademia delle Belle Arti - Udine</p>
    <p class="show-session">Progetto Realizzato da GL3</p>
  </div>
</footer>
