<div class="container-fluid">
  <h1>GDRP Software by GL3</h1>
  <%= link_to "Events", events_path, :class => "btn btn-primary" %>
  <br><br>
  <%= link_to "Event Typologies", event_typologies_path, :class => "btn btn-primary" %>
  <br><br>
  <div id="calendar"></div>
</div>