<h1>GDRP Software by GL3</h1>
<%= link_to "Events", events_path, :class => "btn btn-primary" %>
<br><br>
<%= link_to "Event Typologies", event_typologies_path, :class => "btn btn-primary" %>
<br><br>
<button onclick="sweetAlertTest()" class="btn btn-danger">Try SweetAlert2</button>
<br>
<div>
  <h3>Notifiche</h3>
  <ul>
    <% Event.get_all_notifications.each do |event| %>
      <li><%= event.e_name %></li>
    <% end %>
  </ul>
</div>
<div id="calendar"></div>