/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 */
@import "bootstrap";

.swal2-content{
  p {
    margin-bottom: 0px;
  }
}

.notif-block {
  //background-color: #2da31d;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;

  h3 {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 10px;
  }

  .notif-section {
    //background-color: #0000FF;
    margin-left: 0px;
    height: 500px;

    ul {
      padding-left: 0px;
      list-style-type: none;
    }

    .notif {
      //background-color: #FF0000;
      width: 100%;
      //border: 2px solid black;
      margin: 5px 0;
      padding: 5px;
      border-radius: 5px;

      .notif-head {
        font-weight: bold;
      }

      .content {
        font-size: 12px;
      }

      .control-buttons {
        text-align: right;

        button {
          padding: 0 5px;
          font-size: 10px;
        }
      }
    }
  }
}

.login {
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  text-align: center;
}

.fillable {
  input {
    width: 100%;
    border-radius: .25rem;
  }
}

.padded {
  padding: 10px 0;
}

.custom-footer {
  padding: 10px;
  text-align: center;
  //background-color: #f8f9fa;
  margin-top: 5px;
  border-top: 1px solid #ced4da;
}

